@mixin formMixin {
  border-radius: 0;
  border-color: $secondaryBackgroundColor;
  color: $primaryTextColor;
  background-color: $secondaryBackgroundColor;
  margin-bottom: 0.3em;
  width: 40% !important;
  &::placeholder {
    color: $primaryTextColor;
  }
  &:focus{
      border-color: $primaryBlue !important;
  }
}
