@mixin formMixin {
  border-radius: 0;
  border-color: $secondaryBackgroundColor;
  color: $primaryTextColor;
  background-color: $secondaryBackgroundColor;
  margin-bottom: 0.3em;
  width: 40% !important;
  &::placeholder {
    color: $placeholderTextColor;
  }
  &:focus {
    border-color: $primaryBlue !important;
  }
}

@mixin buttonMixin {
  border-radius: 0;
  border-width: medium;
  color: $primaryTextColor;
  background-color: $secondaryBackgroundColor;
  &:hover {
    border-color: $primaryBlue;
    background-color: $primaryBlue;
    color: $primaryTextColor;
  }
}
