@import "./variables";
@import "./mixins";

html {
  scroll-behavior: smooth;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

// Home CSS
.intro {
  z-index: 1;
  font-size: 50px;
  color: $primaryTextColor;
}
p {
  strong {
    color: $primaryPink;
  }
}

.view-works-btn {
  @include buttonMixin;
  &:hover {
    .fa-arrow-right {
      transition: 0.3s;
      transform: rotate(90deg);
    }
  }
}

// Navbar CSS
.navbar {
  background-color: $secondaryBackgroundColor;
  .navbar-menu {
    background-color: $secondaryBackgroundColor !important;
  }
  .navbar-start {
    flex-grow: 1;
    justify-content: center;
  }
  .navbar-item {
    user-select: none;
    margin-right: 1.5em;
    color: $primaryTextColor;
    &:hover {
      user-select: none;
      background-color: $secondaryBackgroundColor !important;
      color: $primaryPink !important;
    }
  }
}

.active {
    color: $primaryPink !important;
}

.navigation{
  hr{
    padding: 0px;
    margin: 0px;
    background-color: $primaryBlue;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

// About CSS
.about {
  header {
    @include headerMixin(black);
  }
  hr{
    @include lightBarMixin;
    background-color: black;
  }
}


// Portfolio CSS

.portfolio {
  background-color: $tertiaryBackgroundColor;
  header {
    @include headerMixin(black);
  }
  hr{
    @include lightBarMixin;
    background-color: black;
  }
}


#wrap-scroll {
  position: relative;
  max-height: 200px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  /* background: #eee; */
  overflow: auto;
  padding-right: 20px;
  mask: url(#masking);
  &::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, black), color-stop(1, transparent));
}

#wrap-scroll ul {
  list-style: none;
  position: relative;
  transition: transform .3s;
  top: 50px;
}

#wrap-scroll ul, #wrap-scroll ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

#wrap-scroll ul li {
  height: 50px;
  line-height: 50px;
  transition: transform .3s;
  overflow: hidden;
}

#wrap-scroll ul li:last-of-type { padding-bottom: 50px; }

#wrap-scroll ul li.active .item { transform: scale(1.9); }

#wrap-scroll ul li .item {
  position: relative;
  transition: transform 200ms;
  display: inline-block;
}

.scroll-item{
  font-size: 25px;
  color: $primaryBlue;
  &:hover{
    transform: scale(1.2);
  }
}

#repo{
  padding-bottom: 5em;
}
// Contact CSS
.contact {
  background-color: $primaryBackgroundColor;
  header {
    @include headerMixin($primaryTextColor);
  }
  p {
    font-size: 20px;
    color: $primaryBlue;
    padding-bottom: 2em;
  }
  hr{
    @include lightBarMixin;
  }
}

.form {
  padding-bottom: 5em;
  input {
    @include formMixin();
  }
  textarea {
    @include formMixin();
  }
  button {
    padding-left: 2em;
    padding-right: 2em;
    @include buttonMixin;
  }
  div {
    margin: auto;
    width: 40% !important;
  }
}

// Footer CSS
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  background-color: $secondaryBackgroundColor;
}
.footer-text {
  margin-left: -1.5em;
  margin-bottom: -2.5em;
  strong {
    color: $primaryTextColor;
  }
  span {
    color: $primaryPink;
  }
}
.social {
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
  color: white;
  &:hover {
    animation: bounce 1s infinite;
    color: $primaryBlue;
  }
}
.fa-arrow-up {
  margin-left: -1.5em;
  color: white;
  &:hover {
    animation: bounce 1s infinite;
    color: $primaryPink;
  }
}
