html {
  scroll-behavior: smooth;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.intro {
  z-index: 1;
  font-size: 50px;
  color: white;
}

p strong {
  color: #ff3f82;
}

.view-works-btn {
  border-radius: 0;
  border-width: medium;
  color: white;
  background-color: #1B242F;
}

.view-works-btn:hover {
  border-color: #05c2c9;
  background-color: #05c2c9;
  color: white;
}

.view-works-btn:hover .fa-arrow-right {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar {
  background-color: #1B242F;
}

.navbar .navbar-menu {
  background-color: #1B242F !important;
}

.navbar .navbar-start {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.5em;
  color: white;
}

.navbar .navbar-item:hover {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #1B242F !important;
  color: #ff3f82 !important;
}

.active {
  color: #ff3f82 !important;
}

.navigation hr {
  padding: 0px;
  margin: 0px;
  background-color: #05c2c9;
}

.sticky {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.about {
  padding-bottom: 3em;
  background-color: "";
}

.about header {
  font-size: 50px;
  color: black;
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}

.about hr {
  height: 4px;
  width: 4%;
  margin: 0px;
  margin-left: 48%;
  padding: 0px;
  margin-bottom: 1.3em;
  background-color: black;
}

.about .column {
  font-size: 25px;
}

.about .column strong {
  margin-bottom: 0.5em;
}

.about .column li {
  margin-bottom: 0.5em;
}

.frame-work strong {
  font-size: 25px;
}

.is-inline-block img {
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.is-inline-block img:hover {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.port-btn {
  border-radius: 0;
  border-width: medium;
  color: white;
  background-color: transparent;
  width: 150px;
  height: 50px;
}

.port-btn:hover {
  border-color: #05c2c9;
  background-color: #05c2c9;
  color: white;
}

.portfolio {
  padding-bottom: 3em;
  background-color: #F5F5F5;
}

.portfolio header {
  font-size: 50px;
  color: black;
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}

.portfolio hr {
  height: 4px;
  width: 4%;
  margin: 0px;
  margin-left: 48%;
  padding: 0px;
  margin-bottom: 1.3em;
  background-color: black;
}

.is-inline-block .project-image {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
}

.is-inline-block .project-image:hover {
  -webkit-animation: none;
          animation: none;
}

.my-repo {
  padding-bottom: 3em;
  background-color: "";
}

.my-repo header {
  font-size: 50px;
  color: black;
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}

.my-repo hr {
  height: 4px;
  width: 4%;
  margin: 0px;
  margin-left: 48%;
  padding: 0px;
  margin-bottom: 1.3em;
  background-color: black;
}

.github-btn {
  border-radius: 0;
  border-width: medium;
  color: white;
  background-color: #1B242F;
  background-color: white;
  color: black;
  border-color: black;
}

.github-btn:hover {
  border-color: #05c2c9;
  background-color: #05c2c9;
  color: white;
}

#repo_table {
  margin: 0 auto;
  margin-bottom: 1em;
}

#repo_table th {
  text-align: center;
}

.contact {
  background-color: #252933;
}

.contact header {
  font-size: 50px;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}

.contact p {
  font-size: 20px;
  color: #05c2c9;
  padding-bottom: 2em;
}

.contact hr {
  height: 4px;
  width: 4%;
  margin: 0px;
  margin-left: 48%;
  padding: 0px;
  margin-bottom: 1.3em;
}

.form {
  padding-bottom: 5em;
}

.form input {
  border-radius: 0;
  border-color: #1B242F;
  color: white;
  background-color: #1B242F;
  margin-bottom: 0.3em;
  width: 40% !important;
}

.form input::-webkit-input-placeholder {
  color: #6B6B6C;
}

.form input:-ms-input-placeholder {
  color: #6B6B6C;
}

.form input::-ms-input-placeholder {
  color: #6B6B6C;
}

.form input::placeholder {
  color: #6B6B6C;
}

.form input:focus {
  border-color: #05c2c9 !important;
}

.form textarea {
  border-radius: 0;
  border-color: #1B242F;
  color: white;
  background-color: #1B242F;
  margin-bottom: 0.3em;
  width: 40% !important;
}

.form textarea::-webkit-input-placeholder {
  color: #6B6B6C;
}

.form textarea:-ms-input-placeholder {
  color: #6B6B6C;
}

.form textarea::-ms-input-placeholder {
  color: #6B6B6C;
}

.form textarea::placeholder {
  color: #6B6B6C;
}

.form textarea:focus {
  border-color: #05c2c9 !important;
}

.form button {
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0;
  border-width: medium;
  color: white;
  background-color: #1B242F;
}

.form button:hover {
  border-color: #05c2c9;
  background-color: #05c2c9;
  color: white;
}

.form div {
  margin: auto;
  width: 40% !important;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  background-color: #1B242F;
}

.footer-text {
  margin-bottom: -2.5em;
}

.footer-text strong {
  color: white;
}

.footer-text span {
  color: #ff3f82;
}

.social {
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 2.5em;
  color: white;
}

.social:hover {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  color: #05c2c9;
}

.fa-arrow-up {
  margin-left: 0 auto;
  color: white;
}

.fa-arrow-up:hover {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  color: #ff3f82;
}

.padding {
  margin-left: 4.5em;
}
/*# sourceMappingURL=style.css.map */