@import "./variables";
@import "./mixins";

html {
  scroll-behavior: smooth;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

// Home CSS
.intro {
  z-index: 1;
  font-size: 50px;
  padding: 12rem;
  color: $primaryTextColor;
}
p {
  strong {
    color: $primaryPink;
  }
}

.view-works-btn {
  @include buttonMixin;
  &:hover {
    .fa-arrow-right {
      transition: 0.3s;
      transform: rotate(90deg);
    }
  }
}

// Navbar CSS
.navbar {
  background-color: $secondaryBackgroundColor;
  .navbar-menu {
    background-color: $secondaryBackgroundColor !important;
  }
  .navbar-start {
    flex-grow: 1;
    justify-content: center;
  }
  .navbar-item {
    user-select: none;
    margin-right: 1.5em;
    color: $primaryTextColor;
    &:hover {
      user-select: none;
      background-color: $secondaryBackgroundColor !important;
      color: $primaryPink !important;
    }
  }
}

.active {
  
  color: $primaryPink !important;
}

.navigation {
  hr {
    padding: 0px;
    margin: 0px;
    background-color: $primaryBlue;
  }
}
.sticky {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

// About CSS
.about {
  @include panelMixin(black, "", 3);
  .column {
    font-size: 25px;
    strong {
      margin-bottom: 0.5em;
    }
    li {
      margin-bottom: 0.5em;
    }
  }
}
.frame-work {
  strong {
    font-size: 25px;
  }
}
.is-inline-block {
  img {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    &:hover {
      animation: bounce 1s infinite;
    }
  }
}

// Portfolio CSS
.port-btn{
  border-radius: 0;
  border-width: medium;
  color: white;
  background-color:transparent;
  width: 150px;
  height: 50px;
  &:hover{
    border-color: $primaryBlue;
    background-color: $primaryBlue;
    color: $primaryTextColor;
  }
}
.portfolio {
  @include panelMixin(black, $tertiaryBackgroundColor, 3);
}
.is-inline-block .project-image{
  margin-left:0;
  margin-right:0;
  margin-top:1.5em;
  &:hover{
    animation: none;
  }
}

// Repo CSS
.my-repo {
  @include panelMixin(black, "", 3);
}
.github-btn{
  @include buttonMixin;
  background-color: white;
  color: black;
  border-color: black;
}
#repo_table{
  margin: 0 auto;
  margin-bottom: 1em;
  th{
    text-align: center;
  }
}

// Contact CSS
.contact {
  background-color: $primaryBackgroundColor;
  header {
    @include headerMixin($primaryTextColor);
  }
  p {
    font-size: 20px;
    color: $primaryBlue;
    padding-bottom: 2em;
  }
  hr {
    @include lightBarMixin;
  }
}

.form {
  padding-bottom: 5em;
  input {
    @include formMixin();
  }
  textarea {
    @include formMixin();
  }
  button {
    padding-left: 2em;
    padding-right: 2em;
    @include buttonMixin;
  }
  div {
    margin: auto;
    width: 40% !important;
  }
}

// Footer CSS
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  background-color: $secondaryBackgroundColor;
}
.footer-text {
  margin-bottom: -2.5em;
  strong {
    color: $primaryTextColor;
  }
  span {
    color: $primaryPink;
  }
}
.social {
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 2.5em;
  color: white;
  &:hover {
    animation: bounce 1s infinite;
    color: $primaryBlue;
  }
}
.fa-arrow-up {
  margin-left: 0 auto;
  color: white;
  &:hover {
    animation: bounce 1s infinite;
    color: $primaryPink;
  }
}
.padding{
  margin-left: 4.5em;
}
